In [ ]:
#4.1
select city, 
    count(distinct airport_name)
from dst_project.airports
group by city
order by 2 desc

In [ ]:
#4.2
select count(distinct c.status)
from dst_project.flights c

select count(c.aircraft_code)
from dst_project.flights c
where c.status = 'Departed'

select 
    count(s.seat_no)
from 
    dst_project.aircrafts a 
    join dst_project.seats s on a.aircraft_code=s.aircraft_code
where 
    a.model='Boeing 777-300'
    
select 
    count(f.flight_id)
from 
    dst_project.flights f
where (f.scheduled_arrival between to_date('01.04.2017', 'DD.MM.YYYY') 
       and to_date('01.09.2017', 'DD.MM.YYYY')) and f.status ='Arrived'

In [ ]:
#4.3
select 
    count(f.flight_id)
from 
    dst_project.flights f
where f.status ='Cancelled'


select 
    count(a.aircraft_code)
from 
    dst_project.aircrafts a
where a.model like 'Boeing%'

select 
    count(a.aircraft_code)
from 
    dst_project.aircrafts a
where a.model like 'Sukhoi Superjet%'

select 
    count(a.aircraft_code)
from 
    dst_project.aircrafts a
where a.model like 'Airbus%'

# просто основываясь на городах ответила, все в России)

select 
    flight_id,
    (actual_arrival-scheduled_arrival) as time_delta
from 
    dst_project.flights
where  actual_arrival is not null
order by 2 desc
limit 1

In [ ]:
#4.4
select 
    min(scheduled_departure)
from 
    dst_project.flights
    
    
select 
    EXTRACT('day' from max(scheduled_arrival-scheduled_departure))*1440+
    EXTRACT('hour' from max(scheduled_arrival-scheduled_departure))*60+
    EXTRACT('minute' from max(scheduled_arrival-scheduled_departure))
from 
    dst_project.flights

    
select 
    EXTRACT('day' from avg(scheduled_arrival-scheduled_departure))*1440+
    EXTRACT('hour' from avg(scheduled_arrival-scheduled_departure))*60+
    EXTRACT('minute' from avg(scheduled_arrival-scheduled_departure))
from 
    dst_project.flights


    
with a as
(select 
    flight_id,
    scheduled_arrival-scheduled_departure as delta_time,
    departure_airport,
    arrival_airport
from dst_project.flights
)
select 
    f.departure_airport,
    f.arrival_airport
from 
    dst_project.flights f
    join a on f.flight_id=a.flight_id
order by 
    delta_time desc
limit 1

In [ ]:
#4.5
select 
   fare_conditions,
   count(seat_no)
from 
    dst_project.seats
where aircraft_code = 'SU9'
group by 1
order by 2 desc

select 
   min(total_amount)
from 
    dst_project.bookings

select 
    t.passenger_id,
    b.seat_no
from 
    dst_project.boarding_passes b
    join dst_project.tickets t on b.ticket_no=t.ticket_no
where t.passenger_id = '4313 788533'

In [ ]:
# 5.1
select
    count(flight_id)
from dst_project.flights 
where arrival_airport = 'AAQ' and EXTRACT('year' from scheduled_arrival) = '2017' and status = 'Arrived'

select
    count(flight_id)
from dst_project.flights 
where departure_airport = 'AAQ' and 
EXTRACT('year' from scheduled_arrival) = '2017' and EXTRACT('month' from scheduled_arrival) in (1, 2, 12)

select
    count(flight_id)
from dst_project.flights 
where departure_airport='AAQ' and status = 'Cancelled'

select
    count(flight_id)
from dst_project.flights 
where departure_airport = 'AAQ' and arrival_airport not in ('SVO', 'VKO', 'DME')

select
    a.model,
    count(s.seat_no)
from dst_project.seats s
    join dst_project.aircrafts a on s.aircraft_code=a.aircraft_code
group by 1
order by 2 desc